# Development files left out of the release zip (git archive)
.github export-ignore
.gitattributes export-ignore
.gitarchiveinclude export-ignore
.gitignore export-ignore
Makefile export-ignore
scripts export-ignore
tests export-ignore
